.form {
  background-color: inherit;
  margin-top: 20px;
  /* width: 475px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 5px 10px;
  background-color: rgb(55, 56, 56);
  width: 250px;
  color: yellow;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.btn {
  padding: 5px 10px;
  color: yellow;
  background-color: rgb(55, 56, 56);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.btn:hover,
.btn:focus {
  color: orangered;
  background-color: rgb(39, 40, 40);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}
