body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: rgb(37, 37, 42);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: yellow;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.notFoundDiv {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.container {
  max-width: 750px;
}
