.link {
  color: #bdef84;
  text-decoration: none;
  border-radius: 2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  margin: 10px 40px;
  padding: 10px 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.link:hover,
.link:focus {
  background-color: rgb(39, 40, 40);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  color: orangered;
  font-weight: 600;
}
